<?xml version='1.0' encoding='utf-8'?>
<config>
  <message>
    複数要素の値の取り方は、AbstractConfigration のインタフェースと形式に従います。
  </message>
  <message>
    配列の添え字的に取ります。
    パルミーのバージョンの POCO では反復子には対応していません。
  </message>
  <single>ただの値です。POCO の XML コンフィグレーションでは固定で config 要素をルート要素とします。</single>
  <parent>
    <child>ネストしたサンプル値です。</child>
  </parent>
</config>